@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&display=swap');

*{
  font-family: 'Frank Ruhl Libre', serif;
}
.footer{
  width: 100%;
  width: 1024px;
  font-size: 20px;
  color: aliceblue;
  margin-top: 100px;
  margin-left: 200px;

}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: aliceblue;
  cursor: pointer;
}
.fText{
  font-size: small;
  font-weight: 400;
  padding-left: 450px;
}